<p id="notice"><%= notice %></p>

<p>
  <b>Appointment date:</b>
  <%= @appointment.appointment_date %>
</p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
